In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))

train_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N

In [3]:
X_train_df = train_df.drop(['loan_status'], axis= 1)
X_train = pd.get_dummies(X_train_df)
        
y_train_df = train_df['loan_status']


y_train_ = pd.get_dummies(y_train_df)

y_train= y_train_['high_risk'].rename({'high_risk': 'loan_status'})

#X_train= X_train.drop(['debt_settlement_flag_Y'], axis = 1)
y_train.shape

(12180,)

In [4]:
#X_train = X_train_dum.drop(['debt_settlement_flag_Y'], axis= 1)
#X_train

In [5]:
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))
test_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0,0,577150,122018,32000,170200,N,N
1,141451,141451,21000,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0,0,132750,27896,15900,35398,N,N
2,321143,321143,20000,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0,0,628160,114043,22600,90340,N,N
3,11778,11778,3000,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1,0,42006,20761,19900,15406,N,N
4,169382,169382,30000,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0,0,283248,109056,79500,58778,N,N

In [6]:
#X_test = test_df.fillna(0)
#y_test= test_df.fillna(0)
#X_test

#test_df["new_column"]= 'debt_settlement_flag_Y'
#train_df.to_csv(Path('Resources/2020Q1loans.csv'), index=False)
#test_df

In [7]:
X_test_df = test_df.drop(['loan_status'], axis= 1)
                
X_test = pd.get_dummies(X_test_df)

y_test_df= test_df['loan_status']

y_test_ = pd.get_dummies(y_test_df)

y_test= y_train_['high_risk'].rename({'high_risk': 'loan_status'})
#X_train = pd.get_dummies(X_train_df)
#X_train= X_train.drop(['debt_settlement_flag_Y'], axis = 1)
y_test

X_test

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375,0.1797,483.34,223000.0,29.99,0,0,15,...,0,1,0,1,1,0,1,0,1,0
1,141451,141451,21000,0.1308,478.68,123000.0,11.26,2,0,16,...,0,1,0,1,1,0,1,0,1,0
2,321143,321143,20000,0.1240,448.95,197000.0,11.28,0,0,12,...,0,1,0,1,1,0,1,0,1,0
3,11778,11778,3000,0.1240,100.22,45000.0,18.08,0,0,12,...,0,1,0,1,1,0,1,0,1,0
4,169382,169382,30000,0.1612,1056.49,133000.0,27.77,0,2,13,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975,0.2565,801.09,28000.0,28.42,0,0,15,...,0,1,0,1,1,0,1,0,1,0
12176,354944,354944,15000,0.1774,540.34,50000.0,23.43,4,0,16,...,1,1,0,1,1,0,1,0,1,0
12177,354973,354973,3600,0.1862,131.28,60000.0,28.80,0,1,14,...,0,1,0,1,1,0,1,0,1,0
12178,355002,355002,15000,0.0881,475.68,62000.0,11.44,0,0,5,...,0,1,0,1,0,1,1,0,1,0
12179,355307,355307,15000,0.1774,540.34,54080.0,21.66,1,1,5,...,0,1,1,0,1,0,1,0,1,0

In [8]:
# Convert categorical data to numeric and separate target feature for training data
y_train.unique()

array([0, 1], dtype=uint8)

In [9]:
# add missing dummy variables to testing set

missing_cols = set( X_train.columns ) - set( X_test.columns )
for c in missing_cols:
    X_test[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
X_test = X_test[X_train.columns]
X_test

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375,0.1797,483.34,223000.0,29.99,0,0,15,...,0,1,0,1,1,0,1,0,1,0
1,141451,141451,21000,0.1308,478.68,123000.0,11.26,2,0,16,...,0,1,0,1,1,0,1,0,1,0
2,321143,321143,20000,0.1240,448.95,197000.0,11.28,0,0,12,...,0,1,0,1,1,0,1,0,1,0
3,11778,11778,3000,0.1240,100.22,45000.0,18.08,0,0,12,...,0,1,0,1,1,0,1,0,1,0
4,169382,169382,30000,0.1612,1056.49,133000.0,27.77,0,2,13,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975,0.2565,801.09,28000.0,28.42,0,0,15,...,0,1,0,1,1,0,1,0,1,0
12176,354944,354944,15000,0.1774,540.34,50000.0,23.43,4,0,16,...,1,1,0,1,1,0,1,0,1,0
12177,354973,354973,3600,0.1862,131.28,60000.0,28.80,0,1,14,...,0,1,0,1,1,0,1,0,1,0
12178,355002,355002,15000,0.0881,475.68,62000.0,11.44,0,0,5,...,0,1,0,1,0,1,1,0,1,0
12179,355307,355307,15000,0.1774,540.34,54080.0,21.66,1,1,5,...,0,1,1,0,1,0,1,0,1,0

In [10]:
train_list= list(X_train.columns)
test_list= list(X_test.columns)

for col in train_list:
    if col not in test_list:
         print(col)

I predict that randome forest classification model will perform better.

In [11]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
model.score(X_test, y_test)

0.6485221674876848

In [13]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier( n_estimators=200).fit(X_train, y_train)
print(f'Model Score: {clf.score(X_test, y_test)}')
print(f'Model Score: {clf.score(X_train, y_train)}')

Model Score: 1.0
Model Score: 1.0

My prediction is correct because LR doesnâ€™t handle large number of categorical features/variables well

In [14]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

I predict that randome forest classification model will always be the better ont since the score is 100% before and after scaling

In [15]:
# Train the Logistic Regression model on the scaled data and print the model score
model.fit(X_train_scaled, y_train)

model.score(X_test_scaled, y_test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.713136288998358

In [16]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf.fit(X_train_scaled, y_train)
print(f'Model Score: {clf.score(X_test_scaled, y_test)}')

Model Score: 1.0

In [17]:
clf.predict(X_test_scaled)

array([0, 0, 0, ..., 1, 1, 1], dtype=uint8)

LR is always lower than RFC even after scaling